- var nombre = 'Puntos PPG'
- var url = 'puntosppg.com'
- var secciones = ['Qué es', 'Registro', 'Promociones', 'Contacto']

- function slugify(string) {
  - const a = 'àáâäæãåāăąçćčđďèéêëēėęěğǵḧîïíīįìłḿñńǹňôöòóœøōõőṕŕřßśšşșťțûüùúūǘůűųẃẍÿýžźż·/_,:;'
  - const b = 'aaaaaaaaaacccddeeeeeeeegghiiiiiilmnnnnoooooooooprrsssssttuuuuuuuuuwxyyzzz------'
  - const p = new RegExp(a.split('').join('|'), 'g')
  - return string.toString().toLowerCase().replace(/\s+/g, '-').replace(p, c => b.charAt(a.indexOf(c))).replace(/&/g, '-and-').replace(/[^\w\-]+/g, '').replace(/\-\-+/g, '-').replace(/^-+/, '').replace(/-+$/, '')
- }

mixin nav(login, logout)
  nav.navbar.navbar-expand-lg.navbar-light.bg-light
    a(href="#").navbar-brand: img(src="app/img/logo.png", alt=nombre)
    button.navbar-toggler(type="button" data-toggle="collapse" data-target="#mainnav"): span.navbar-toggler-icon
    .collapse.navbar-collapse#mainnav
      ul.navbar.nav
        each sec in secciones
          li.nav-item: a(href='index.html#'+slugify(sec)).nav-link=sec
        if login
          li.nav-item: a(href='#' data-target="#loginmodal" data-toggle="modal").nav-link Iniciar sesión
        if logout
          li.nav-item: a(href="index.html").nav-link Cerrar sesión
  if login
    include _loginmodal


mixin head
    head
      meta(charset="UTF-8")
      meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no")
      meta(http-equiv="X-UA-Compatible", content="ie=edge")
      link(rel="icon" type="image/png" href="favicon.png")
      link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous")
      link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.2/animate.min.css")
      link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css")
      link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap")
      link(rel="stylesheet", href="app/app.css")
      title=nombre
      if block
        block
        
mixin footer
  footer
    .container
      .row.justify-content-end: a(href="http://www.bluepureloyalty.com/" target="_blank"): img(src="app/img/powered-by-blue.png", alt="Blue")
    .navbar.bg-dark.justify-content-center.p-0
      ul.navbar.nav.p-0
        li.nav-item: a(href="#").nav-link Términos y condiciones
        li.nav-item: a(href="#").nav-link Preguntas frecuentes
        li.nav-item: a(href="#").nav-link Aviso de privacidad
        li.nav-item: a(href="mailto:info@"+url).nav-link info@#{url}
    .pleca.text-center.p-2:  a(href="http://www.bluepureloyalty.com/" target="_blank"): img(src="app/img/bluemx.png", alt="Blue")


mixin scripts
  script(src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous")
  script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous")
  script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous")
  script(src="app/app.js")
  script(src="https://unpkg.com/smoothscroll-polyfill/dist/smoothscroll.min.js")
  script(src="https://unpkg.com/smoothscroll-anchor-polyfill")
  
  
mixin input(label, type, value="", disabled=false)
  .form-group.row
    label.col-form-label.col-md-5.col-12.text-md-right=label
    input.form-control.col-md-7.col-12(placeholder=label, type=type, value=value, disabled=disabled)
mixin checkbox(text)
  label.form-group.row
    .col-2.col-md-5.text-right
      input(type="checkbox")
    .col-8.col-md-7.text-left
      span=text




